html {
    font-size: 16px;
}
body {
    margin: 0;
    font-weight:300;
    font-family: 'Work Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}


:root {
    --background: rgba(255, 255, 255, .95);
  }



.logo {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width:100%;
    padding-top: 25px;
}

/* Nav Menu */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    margin-top: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    font-family: 'Crimson Text', serif;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color:grey;

}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}

/* END OF NAV/MENU */

/* INTRO */

img.first {
    max-width: 85%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

div.intro-container {
    padding-top: 100px;
}

h1.title {
    font-size: 3.5rem;
}

h1.title, h2.title {
    text-align: center;
}

p.title, p.story {
    text-align: justify;
}
/* END OF INTRO */

/* Our Story */

h1.story {
    text-align: center;
    padding-top: 50px;
}

div.story p {
    font-weight: 300;
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: justify;
}


/* Where When How */

.info-container {
    text-align: left;
    padding-top: 50px; 
    
}

h1.hotel {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.hotel-col {
    padding-top: 50px;
}

/* End of Where When How */

/* BEGIN Wedding Party */

#showContainer {
  /* Main wrapper for all images */
  width: 670px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.navButton {
  /* Make buttons look nice */ 
  cursor: pointer;
  margin-top: 200px;
  width: 50px;
  height: 45px;
  padding: 10px;
  margin-right: 5px;
  overflow: hidden;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 1.25rem;
  background: #FFFFFF;
  opacity: 1;
  user-select: none;
}

.navButton:hover {
  opacity: 0.5;
}

.caption {
  justify-content: center;
}

div.imageContainer img {
    height: 700px;
    width: 700px;
    justify-content: center;
    
}


#previous {
    float: left;
}

#next {
    float: right;
}


.imageContainer:not(:first-child) {
  /* Hide all images except the first */
  display: none;
}



/* End of Wedding Party */

/* Registry */

/* End of Registry */

/* RSVP */
.engphoto-container {
    margin: 100px auto;
}


div.rsvp-form-row {
    margin-bottom: 50px;
}

/*  End of RSVP */

/* Contact Me */

.contact-container {
    text-align: center;
}

/* END */

/* Bootstrap media query */

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
} 